body{
    background-color: #400D12;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}
#header-nav{
    width: 100%;
}
#logo-img{
    /* background: url('../images/logo/restaurant-logo100.png') no-repeat; */
    width: 100px;
    height: 100px;
    margin: 0px 15px 10px 0;
}
.navbar-brand h1{ /*Resturant Name*/
    font-family: 'Lora', serif;
    color:#557c3e;
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.75;
}
.navbar-brand a:hover{ /*Resturant Name*/
    text-decoration: none;
}
.navbar-brand p span{  /*Kaho mery Lahore*/
    margin-left: 5px;
    font-size: .7em;
    vertical-align: middle;
}
.navbar-nav a{
    text-align: center;
}
.navbar-nav li:nth-child(4) span{ /* Phone no */
    font-family: 'Lora', serif;
    color:#557c3e;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    padding-top: 0;
    line-height: 1.25;
}

#phoneNo{
    background-color: #557c3e;
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 5px;
    text-align: center;
    color:white;
}
#phone a span{
    font-family: 'Lora', serif;
    color:#557c3e;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    padding-top: 0;
    line-height: 1.25;
}
#phoneNo a span{
    font-family: 'Lora', serif;
    color:white;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    padding-top: 0;
    line-height: 1.25;
}
.navbar-toggler{
    border: 0;
}

.footer{
    background-color: #557c3e;
    margin:0px auto;
    color:white;
    padding: 20px 0px 20px 0px;
}
.list-unstyled li:nth-child(n+1) a{
    color: white;
}
@media (max-width:991px) and (min-width:767px){
    #header-nav .container{
        max-width: 850px;
        margin:auto 50px;
    }
    .navbar-brand h1{
        font-size: 1em;
        padding-right: auto;
    }
   
}
@media (max-width:768px){
    .navbar-brand h1{
        font-size: 1.5em;
    }
    #phone a span{
        font-family: 'Lora', serif;
        color:#557c3e;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
        text-shadow: 1px 1px 1px #222;
        padding-top: 0;
        line-height: 1.25;
    }
}

