body{
    background-color: #400D12;
    color:#fff;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}
#header-nav{
    background-color:azure;
}
.container{
    margin: 0;
}
#logo-img{
    background: url('../images/logo/restaurant-logo.png') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}